In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is ",name + ". Your age is",age)

What is your name? Ismayil
What is your age? 19
Your name is  Ismayil. Your age is 19

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print("These numbers are equal")
else:
  print("These numbers are not equal")

These numbers are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a>b):
  print("First number is greater than the second number")
elif(a==b):
  print("First number is equal to the second number")
else:
  print("First number is smaller than the second number")

First number is smaller than the second number

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
k=5
while k>=1:
  print(k)
  k -= 1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in [10,8,6,4,2,0]:
  if i != 8:
    print(i)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
birth_year = input("Enter your birth year: ")
age = 2023 - int(birth_year)
print(age)

Enter your birth year: 1944
79

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y

  def subtraction(x,y):
    return x-y

  def multiplication(x,y):
    return x*y

  def division(x,y):
    if y==0:
      print("Cannot divide by zero")
    else:
      return x/y

arithmetic.division(4,12)

0.3333333333333333

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

n = input("Enter value of n: ")
n=int(n)
total_sum = 0
for i in range(1,n+1):
  total_sum = total_sum + i
print(total_sum)

Enter value of n: 3
6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random

random_numbers = [random.random() for _ in range(10)]
print(random_numbers[:3])

[0.7681359269157942, 0.7084056037490754, 0.09194674001514547]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(1, n+1):
  if i % 3 == 0:
    print(i)

3
6
9
12
15